@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: raleway;
  /* overflow: hidden; */
  line-height: 1.4;
  /* border: solid black 1px; */
}

ul {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

li {
  font-size: 0.85rem;
  color: rgb(34, 33, 33);
}
html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: raleway;
  font-weight: 100;
}

p {
  color: #002b2d;
  font-size: large;
  text-align: left;
  padding: 1rem;
  /* background-color: #03949cbf; */
  /* border-radius: 2rem; */
  /* box-shadow: -2vw 2vw 0 0 #F5D75F; */
}

h2 {
  color: rgb(34, 33, 33);
  text-align: left;
  font-weight: 100;
}
span {
  /* font-weight: 900; */
}

h4 {
  color: rgb(34, 33, 33);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 100;
}

hr {
  border: 1px solid rgb(34, 33, 33);
  width: 100%;
}
.not-found {
  background-color: #ff581a;
  text-align: center;
  padding: 50vh;
}

.not-found a {
  color: white;
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.5rem;
  padding-right: 1rem;
  background-color: #f5d75f;
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: 0.5s ease;
  top: 0;
  opacity: 0.95;
  border-bottom: 2px solid #222222;
}

.hidden {
  top: -80px;
}

nav a {
  margin-left: 0.5rem;
  color: rgb(34, 33, 33);
  font-weight: 100;
  font-size: 1rem;
  padding-bottom: 0.2rem;
  /* text-shadow: 2px 2px 5px rgb(34, 33, 33); */
}

@media (max-width: 1000px) {
  nav a {
    font-size: 1.2rem;
    /* text-align: center; */
  }
}

nav a:hover {
  color: #ff581a;
}

.nav-line {
  border-width: 0;
  background-color: rgb(34, 33, 33);
  width: 98%;
  height: 6px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 10px;
}

@media (max-width: 1000px) {
  .nav-line {
    margin-right: auto;
    width: 90%;
  }
}
.nav-logo {
  height: 25px;
  margin-right: auto;
}

.title {
  color: white;
  font-size: 5rem;
  margin-left: 1rem;
  padding: 0.1rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: left;
  /* text-shadow: 2px 2px 5px rgb(34, 33, 33); */
}

@media (max-width: 1000px) {
  .title {
    font-size: 4rem;
  }
}

.toggle-link:hover {
  cursor: pointer;
}

.page-title {
  color: rgb(34, 33, 33);
  font-size: 3rem;
  margin-left: 1rem;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 2px 2px 10px rgb(34, 33, 33);
  text-align: left;
}

.text-title {
  font-size: clamp(1rem, 0.5rem + 8vw, 4rem);
  width: 80%;
  /* margin: auto; */
  margin-top: 20vw;
  color: #011b1d;
  /* font-style: italic; */
  text-align: left;
  /* background-color: #ff581a; */
}

.secondnav {
  justify-content: flex-start;
  padding: 0;
  margin-left: 1rem;
}

.index-container {
  background-color: #f5d75f;
}

.listen-container {
  background-color: #f5d75f;
}

.book-container {
  background-color: #ff581a;
}
.content {
  background-color: transparent;
}

/* Home Page */

/* @media screen and (max-width: 1024px) {
  .landingimage {
    left: 50%;
    margin-left: -512px;
  }
} */
.index-container {
  position: relative;
}

.landing-image-container {
  width: 100vw;
  height: 120vh;
  position: relative;
  /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%); */
  margin-bottom: -10vw;
  border-bottom: 2px solid black;
}

.button {
  background-color: #f5d75f;
  padding: 1rem 1.65rem;
  font-family: raleway;
  font-weight: 300;
  font-size: 1.5rem;
  color: rgb(34, 33, 33);
  border: 1px solid #222222;
  z-index: 5;
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
  text-transform: uppercase;
  margin-top: 1vw;
  border-radius: 500px;
}

.button:hover {
  color: #ff581a;
  cursor: pointer;
}

.logocontainer {
  position: absolute;
  max-width: 35vh;
  max-height: 10%;
  top: 50vh;
  left: 50%;
  overflow: visible;
}

.logo {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  z-index: 3;
  /* animation: slidein 1s; */
  margin-bottom: 10vw;
}
@keyframes slidein {
  from {
    transform: scale(500%);
  }

  to {
    transform: scale(100%);
  }
}

.headline {
  z-index: 4;
  position: absolute;
  top: 65vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f6f2f1;
  text-align: center;
  display: inline-block;
  width: 95vw;
  text-transform: uppercase;
  font-size: clamp(1rem, 5vw, 2rem);
  padding: 1rem;
  margin-bottom: 2vw;
  margin-top: 5vw;
  /* margin-top: 2rem; */
  animation: fadein 3s;
  /* font-style: italic; */
  text-shadow: 0.5px 0.1px #011b1d;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.index-container {
  display: flex;
  flex-direction: column;
}
/* 
.landing-container {
  position: relative;
  z-index: 10;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-bottom: 10vw;
} */

/* About Page */

#about {
  background-color: #01c2cb;
}

#bio {
  background-color: #01c2cb;
  border-bottom: 2px solid #222222;
}

.about-container {
  display: flex;
  flex-direction: column;
}

/* Bio Section */

.blue-section-image-container {
  width: 95%;
  margin: auto;
  box-sizing: content-box;
}

.blue-section-image-container > div {
  box-shadow: -2vw 2vw 0 0 #f5d75f;
  border-radius: 1rem;
  border: 2px solid #222222;
}

.bio-text-container {
  background-color: #01c2cb;
}

.bio-container {
  margin-top: 15vw;
  background-color: #01c1cb82;
  width: 95%;
  margin: auto;
  padding: 1rem;
}

.bio-section {
  background-color: #01c2cb;
}

.bio-text {
  width: 95%;
  margin: auto;
  background-color: #01c2cb;
  padding: 1rem;
  z-index: 5;
  /* margin-bottom: 15vw; */
}

/* .text-box {
  background-color: #487e8ab6;
  padding: 2rem;
  padding-bottom: 10vw;
  padding-top: 10vw;
  clip-path: polygon(0 calc(0% + 10vw), 100% 0, 100% calc(100% - 10vw), 0 100%);
} */

.under-image {
  margin-top: 5vw;
}

/* History Section */

#history {
  background-color: #f5d75f;
  position: relative;
  /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%); */
  margin-bottom: -10vw;
  border-bottom: 2px solid #222222;
}

.yellow-section-image-container {
  width: 95%;
  margin: auto;
  box-sizing: content-box;
}

.yellow-section-image-container > div {
  box-shadow: -2vw 2vw 0 0 #01c2cb;
  border-radius: 1rem;
  border: 2px solid #222222;
}

.history-container {
  background-color: #f5d75f;
  margin-top: 15vw;
  width: 95%;
  margin: auto;
  padding: 1rem;
}

#history-title {
  background-color: #f5d75f;
  width: 100%;
}

.history-text {
  width: 95%;
  background-color: #f5d75f;
  padding: 1rem;
  z-index: 5;
  margin: auto;
  margin-bottom: 10vw;
}

.indiegogo-image {
  margin-bottom: 10vh;
}

#discography {
  background-color: #01c2cb;
}
#playlist {
  background-color: #01c2cb;
}
.discography-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: auto;
  background-color: #01c2cb;
}

/* Services Section */

.services-text {
  width: 100%;
  background-color: #f5d75f;
  padding: 1rem;
  z-index: 5;
}

.services-text li {
  list-style-type: disc;
  font-weight: 500;
}

/* STUDIO PAGE */

.studio-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Studio Landing Page */

/* Control Room */

#studio {
  background-color: #01c2cb;
}

.control-text {
  width: 95%;
  background-color: #01c2cb;
  padding: 1rem;
  z-index: 5;
  margin: auto;
}

.control-title-text {
  width: 95%;
  background-color: #01c2cb;
  padding: 1rem;
  z-index: 5;
  margin: auto;
}

.bottom-paragraph {
  margin-bottom: 15vw;
}

.control-container {
  background-color: #01c2cb;
  position: relative;
  /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%); */
  margin-bottom: -10vw;
  z-index: 6;
  border-bottom: 2px solid #222222;
}

.red-section-image-container {
  width: 95%;
  margin: auto;
  box-sizing: content-box;
}

.red-section-image-container > div {
  box-shadow: -2vw 2vw 0 0 #f5d75f;
}

.image-container {
  padding: 0;
  margin: 0;
  background-color: #f5d75f;
  position: relative;
  text-align: center;
  font-size: 0;
  border: 2px solid #222222;
}

.image-container h1 {
  font-size: 30px;
}

.imageLink {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(34, 33, 33);
  font-size: clamp(3rem, 1rem +10vw, 7rem);
}

.imageLink:hover {
  color: #ff581a;
}

.control-image {
  margin: 0;
  padding: 0;
}

.control-gallery-container {
  width: 100vw;
  background-color: #01c2cb;
  display: block;
  text-align: center;
  padding: 1rem;
}

/* LIVE ROOM */

.live-container {
  background-size: cover;
}

@media (min-width: 1000px) {
  .live-text {
    padding: 4rem;
  }
  .live-text p {
    font-size: 1.2rem;
  }
  .live-text h2 {
    font-size: 2rem;
  }
}

/* Gear Page */

.gear-landing {
  background-color: #f5d75f;
  position: relative;
  /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%); */
  margin-bottom: -10vw;
  border-bottom: 2px solid #222222;
}

.gear-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: #f5d75f;
  width: 95%;
  margin: auto;
  margin-top: 10vw;
  /* margin-bottom: 10vw; */
}

@media (max-width: 1000px) {
  .gear-container {
    flex-direction: column;
  }
}

/* gear landing */

#gear {
  background-color: #f5d75f;
}

.gear-text {
  width: 95%;
  background-color: #f5d75f;
  padding: 1rem;
  z-index: 5;
  margin: auto;
}

/* #studio-gear {
  margin-top: 10vw;
} */

.other-container {
  margin-bottom: 15vw;
}

/* Listen page */

.playlist-text {
  width: 100%;
  background-color: #01c2cb;
  padding: 1rem;
  z-index: 5;
  margin: auto;
  position: relative;
  /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%); */
  margin-bottom: -25vw;
  border-bottom: 2px solid #222222;
}

.player-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10vw;
}

iframe {
  margin-bottom: 5vw;
  box-shadow: -2vw 2vw 0 0 #f5d75f;
  border-radius: 1rem;
  border: 2px solid #222222;
}

.listen-container {
  display: flex;
  flex-direction: column;
}

h3 {
  color: rgb(34, 33, 33);
  text-transform: uppercase;
}

.gallery-container {
  width: 95%;
  margin: auto;
  /* background-color: #01c2cb; */
  padding: 1rem;
  z-index: 5;
  align-items: center;
}

/* book page */

.booknavcontainer {
  position: fixed;
  background-color: #01c2cb;
  z-index: 1;
  width: 100%;
}

/* contact section */

#contact {
  position: relative;
  /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%); */
  margin-bottom: -10vw;
  background-color: #01c2cb;
  border-bottom: 2px solid #222222;
}

#contact-text {
  background-color: #01c2cb;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #01c2cb;
  margin-top: 10vw;
}
.form-text {
  width: 95%;
  background-color: #01c2cb;
  padding: 1rem;
  z-index: 1;
  margin: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: #03aab3;
  padding: 1rem;
  width: 95%;
  margin-bottom: 15vw;
  border-radius: 1rem;
  border: 2px solid #222222;
}

form {
  margin: 0;
  padding: 0;
}

/* Faq section */

#faq {
  background-color: #f5d75f;
}

.faq-text {
  width: 95%;
  background-color: #f5d75f;
  padding: 1rem;
  z-index: 1;
  margin: auto;
}

.faq-line {
  background: rgb(34, 33, 33);
  height: 2px;
  margin: 2rem 0rem;
  width: 100%;
}

/* contact form */

label {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  color: rgb(34, 33, 33);
  font-family: Raleway;
  text-transform: uppercase;
  font-size: large;
  font-weight: 500;
}
input {
  border: none;
  background: #01c2cb;
  /* border-bottom: 1px solid rgb(34, 33, 33); */
  margin: 0.2rem;
  color: rgb(34, 33, 33);
  font-family: raleway;
  font-size: large;
  padding: 0.2rem;
  outline: none;
}

input:focus {
  border: 2px solid #011b1d;
}

textarea {
  border: none;
  background: #01c2cb;
  /* border-bottom: 1px solid rgb(34, 33, 33); */
  margin: 0.2rem;
  color: rgb(34, 33, 33);
  font-family: raleway;
  resize: none;
  padding: 0.2rem;
  outline: none;
}

textarea:focus {
  border: 2px solid #011b1d;
}

#submit-button {
  background-color: #f5d75f;
  width: 5rem;
  padding: 0.4rem;
  font-family: raleway;
  font-weight: 300;
  font-size: large;
  color: rgb(34, 33, 33);
  border: none;
  z-index: 5;
  /* position: absolute;
  top: 85vh;
  left: 50%;
  transform: translate(-50%, -50%); */
  transition: 0.5s ease;
  text-transform: uppercase;
  margin-top: 1vw;
  border-radius: 1rem;
  border: 2px solid #222222;
}

/* #submit-button { */
/* width: 25%; */
/* align-self: center;
  background-color: #f5d75f;
  border: none;
  font-family: raleway;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
  color: rgb(34, 33, 33);
  margin-top: 2rem; */
/* transition: 0.5s ease;
  animation: wiggle 2s linear infinite; */
/* } */

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

#submit-button:hover {
  color: #ff581a;
  cursor: pointer;
}

::placeholder {
  color: rgb(34, 33, 33);
}

form {
  width: 95%;
  margin: auto;
}

/* .album-link {
  text-decoration: underline;
  font-size: x-large;
} */

/* hamburger menu */

.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background-color: rgba(245, 215, 95, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: rgb(34, 33, 33);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.line:before,
.line:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 5px;
  background-color: white;
}

.line:after {
  top: 10px;
}

/* toggler animate */

.menu-wrap .toggler:checked + .hamburger .line {
  transform: rotate(135deg);
}

/* turn line into x */

.menu-wrap .toggler:checked + .hamburger .line:before,
.menu-wrap .toggler:checked + .hamburger .line:after {
  top: 0;
  transform: rotate(90deg);
}

/* rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger .line {
  transform: rotate(225deg);
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: #f5d75f;
  /* border-radius: 50%; */
  width: 200vw;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  font-size: 50px;
  font-weight: bold;
  transition: color 0.5s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  color: #ff581a;
}

/* show menu */

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 1s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.social-menu > ul {
  display: flex;
  flex-direction: row;
}

/* carousel */

/* .embla {
  overflow: hidden;
  background-color: #ff581a;
  width: 95%;
  margin: auto;
  height: auto;
}

.embla__container {
  display: flex;
}

.embla__slide {
  position: relative;
  flex: 0 0 50%;
  margin-right: 5vw;
  margin-top: 5px;
  box-shadow: -0.5vw 0.5vw 0 0 #f5d75f;
  margin-bottom: 2vw;
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 35%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #f5d75f;
  padding: 0;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 1vw;
}

.embla__button--next {
  right: 1vw;
} */

/* footer */

.footer {
  background-color: #f5d75f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.footer-text {
  color: rgb(34, 33, 33);
  font-weight: 100;
  font-size: x-small;
  margin-bottom: 0.1rem;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-menu {
  display: flex;
  justify-self: center;
  justify-content: center;
}

/* new gallery */

.new-gallery-container {
  background-color: #01c2cb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #f5d75f;
}

.image-container:hover .overlay {
  opacity: 0.95;
}

.text {
  color: rgb(34, 33, 33);
  font-size: 0.9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 100;
  user-select: none;
}

.new-gallery-container > .image-container {
  margin: 0.1rem;
}

.studio-gallery-container {
  background-color: #f5d75f;
}

.icon {
  margin-left: 1rem;
}

.credit {
  font-size: x-small;
  text-transform: uppercase;
  font-weight: 100;
}

.credit:hover {
  cursor: pointer;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.emphasis {
  font-weight: 100;
  /* font-style: italic; */
  color: #011b1d;
}

.emphasis-blue {
  text-decoration: underline;
  color: #011b1d;
  text-decoration-color: #01c2cb;
}

.e-mail {
  text-decoration: underline;
}

.btn-modal {
  color: rgb(34, 33, 33);
  font-weight: 100;
  margin-bottom: 0.1rem;
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

.btn-modal:hover {
  cursor: pointer;
}

.modal {
  z-index: 100;
}

.modal,
.modal-overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.modal-overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 1rem 2rem;
  border-radius: 3px;
  height: auto;
  width: 85%;
  max-height: 80%;
  overflow-y: scroll;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.cookie-banner {
  z-index: 100;
  background-color: #01c1cbf5;
  position: fixed;
  width: 100%;
  line-height: normal;
}

.cookie-banner > p {
  padding: 0.2rem 1rem;
}

.cookie-banner-hidden {
  display: none;
  background-color: transparent;
}

.cookies-button {
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 13px 23px;
  border: 1px solid #222222;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: #fff;
  color: #222222;
}

.cookies-button:hover {
  background: #f5d75f;
}

.cookie-title {
  padding: 1rem;
}
