@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: raleway;
  /* overflow: hidden; */
}

ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  color: white;
  font-size: 0.85rem;
}
html {
  /* scroll-behavior: smooth; */
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: raleway;
}

p {
  color: white;
  font-size: large;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
}
span {
  color: #f5d75f;
  font-weight: 900;
}

h4 {
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
}

hr {
  border: 1px solid white;
}
.not-found {
  background-color: #ff581a;
  text-align: center;
  padding: 50vh;
}

.not-found a {
  color: white;
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  padding-right: 1rem;
  background-color: transparent;
  overflow: hidden;
}

nav a {
  margin-left: 0.5rem;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
  /* text-shadow: 2px 2px 5px black; */
}

@media (max-width: 1000px) {
  nav a {
    font-size: 1.2rem;
    /* text-align: center; */
  }
  nav {
  }
}

nav a:hover {
  color: #ff581a;
}

.nav-line {
  border-width: 0;
  background-color: white;
  width: 98%;
  height: 6px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 10px;
}

@media (max-width: 1000px) {
  .nav-line {
    margin-right: auto;
    width: 90%;
  }
}
.nav-logo {
  height: 35px;
  margin-right: auto;
}

.title {
  color: white;
  font-size: 5rem;
  margin-left: 1rem;
  padding: 0.1rem;
  margin-bottom: 0;
  margin-top: 0;
  /* text-shadow: 2px 2px 5px black; */
}

@media (max-width: 1000px) {
  .title {
    font-size: 4rem;
  }
}

.toggle-link:hover {
  cursor: pointer;
}

.page-title {
  color: white;
  font-size: 3rem;
  margin-left: 1rem;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 2px 2px 10px black;
}

.text-title {
  font-size: clamp(1rem, 0.5rem + 8vw, 5rem);
}

.secondnav {
  justify-content: flex-start;
  padding: 0;
  margin-left: 1rem;
}

.index-container {
  background-color: #f5d75f;
}

.listen-container {
  background-color: #f5d75f;
}

.book-container {
  background-color: #ff581a;
}
.content {
  background-color: transparent;
}

/* Home Page */

@media screen and (max-width: 1024px) {
  .landingimage {
    left: 50%;
    margin-left: -512px;
  }
}
.index-container {
  position: relative;
}

.landingimage {
  position: relative;
  z-index: 1;
  object-fit: cover;
}

.button {
  background-color: #01c2cb;
  padding: 0.4rem;
  font-family: raleway;
  font-weight: 800;
  font-size: 1.5rem;
  color: white;
  border: none;
  z-index: 1;
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}

.button:hover {
  background-color: #ff581a;
  cursor: pointer;
}

.logocontainer {
  position: absolute;
  max-width: 40%;
  max-height: 40%;
  top: 4%;
  left: 50%;
  overflow: visible;
}

.logo {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  z-index: 3;
}

.headline {
  z-index: 2;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100vw;
  text-transform: uppercase;
  font-size: clamp(0.5rem, 0.5rem + 8vw, 1rem);
}

.index-container {
  display: flex;
  flex-direction: column;
}

/* About Page */

.aboutnavcontainer {
  background-color: #f5d75f;
  z-index: 5;
  width: 100%;
}

.about-container {
  display: flex;
  flex-direction: column;
}

/* Bio Section */

.bio-text {
  width: 100%;
  background-color: #f5d75f;
  padding: 1rem;
  z-index: 5;
}

.divider {
  background-color: #f5d75f;
  height: 2px;
}
/* History Section */

.history-text {
  width: 100%;
  background-color: #01c2cb;
  padding: 1rem;
  z-index: 5;
}

.discography-container {
  display: flex;
  flex-direction: column;
  background-color: #f5d75f;
}

/* Services Section */

.services-text {
  width: 100%;
  background-color: #f5d75f;
  padding: 1rem;
  z-index: 5;
}

.services-text li {
  list-style-type: disc;
  font-weight: 500;
}

/* STUDIO PAGE */

.studio-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.studionavcontainer {
  /* position: fixed; */
  background-color: #01c2cb;
  z-index: 10;
  width: 100%;
}

/* Studio Landing Page */

/* Control Room */

.control-text {
  width: 100%;
  background-color: #01c2cb;
  padding: 1rem;
  z-index: 5;
}

.image-container {
  padding: 0;
  margin: 0;
  background-color: #f5d75f;
  position: relative;
  text-align: center;
  font-size: 0;
}

.image-container h1 {
  font-size: 30px;
}

.imageLink {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: clamp(3rem, 1rem +10vw, 7rem);
}

.imageLink:hover {
  color: #ff581a;
}

.control-image {
  margin: 0;
  padding: 0;
}

.control-gallery-container {
  width: 100vw;
  background-color: #01c2cb;
  display: block;
  text-align: center;
  padding: 1rem;
}

/* LIVE ROOM */

.live-container {
  background-size: cover;
}

.live-text {
  width: 100%;
  background-color: #01c2cb;
  padding: 1rem;
}

@media (min-width: 1000px) {
  .live-text {
    padding: 4rem;
  }
  .live-text p {
    font-size: 1.2rem;
  }
  .live-text h2 {
    font-size: 2rem;
  }
}

/* Gear Page */

.gear-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ff581a;
}

/* gear landing */

.gear-text {
  width: 100%;
  background-color: #ff581a;
  padding: 1rem;
  z-index: 5;
}

.studio-gear-text {
  width: 100%;
  background-color: #ff581a;
  padding: 1rem;
  z-index: 5;
}

/* Listen page */

.playlist-text {
  width: 100%;
  background-color: #f5d75f;
  padding: 1rem;
  z-index: 5;
}

.player-container {
  display: flex;
  justify-content: center;
}

iframe {
  margin-bottom: 2rem;
}

.listen-container {
  display: flex;
  flex-direction: column;
}

h3 {
  color: white;
  text-transform: uppercase;
}

.gallery-container {
  width: 100%;
  background-color: #f5d75f;
  padding: 1rem;
  z-index: 5;
}

/* book page */

.booknavcontainer {
  position: fixed;
  background-color: #f5d75f;
  z-index: 1;
  width: 100%;
}

/* contact section */

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.form-text {
  width: 100%;
  background-color: #f5d75f;
  padding: 1rem;
  z-index: 1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: #f5d75f;
  padding: 1rem;
  width: 100%;
}

form {
  margin: 0;
  padding: 0;
}

/* Faq section */

.faq-text {
  width: 100%;
  background-color: #f5d75f;
  padding: 1rem;
  z-index: 1;
}

.faq-line {
  background: white;
  height: 0.2rem;
  margin: 2rem 0rem;
  width: 100%;
}

/* contact form */

input {
  border: none;
  margin: 0.2rem;
  color: black;
  font-family: raleway;
  padding: 0.2rem;
  outline: none;
}

input:focus {
  border: 2px solid #ff581a;
}

textarea {
  border: none;
  margin: 0.2rem;
  color: black;
  font-family: raleway;
  resize: none;
  padding: 0.2rem;
  outline: none;
}

textarea:focus {
  border: 2px solid #ff581a;
}

#submit-button {
  /* width: 25%; */
  align-self: center;
  background-color: #01c2cb;
  border: none;
  font-family: raleway;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5rem;
  color: white;
  margin-top: 0.4rem;
  transition: 0.5s ease;
}

#submit-button:hover {
  background-color: #ff581a;
  cursor: pointer;
}

::placeholder {
  color: black;
}

/* .album-link {
  text-decoration: underline;
  font-size: x-large;
} */

/* hamburger menu */

.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background-color: rgba(245, 215, 95, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.line:before,
.line:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 5px;
  background-color: white;
}

.line:after {
  top: 10px;
}

/* toggler animate */

.menu-wrap .toggler:checked + .hamburger .line {
  transform: rotate(135deg);
}

/* turn line into x */

.menu-wrap .toggler:checked + .hamburger .line:before,
.menu-wrap .toggler:checked + .hamburger .line:after {
  top: 0;
  transform: rotate(90deg);
}

/* rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger .line {
  transform: rotate(225deg);
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: #f5d75f;
  /* border-radius: 50%; */
  width: 200vw;
  height: 200vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  font-size: 50px;
  font-weight: bold;
  transition: color 0.5s ease;
}

.menu-wrap .menu > div > div > ul > li > a:hover {
  color: #ff581a;
}

/* show menu */

.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 1s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.social-menu > ul {
  display: flex;
  flex-direction: row;
}
