@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: raleway;
  /* overflow: hidden; */
}

ul {
  list-style: none;
}

li {
  color: white;
}
html {
  /* scroll-behavior: smooth; */
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: raleway;
}

p {
  color: white;
  font-weight: normal;
}

h2 {
  color: white;
}
span {
  color: #f5d75f;
  font-weight: 900;
}

h4 {
  color: whitesmoke;
}

hr {
  border: 1px solid white;
}
.not-found {
  background-color: #ff581a;
  text-align: center;
  padding: 50vh;
}

.not-found a {
  color: white;
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  padding-right: 1rem;
  background-color: transparent;
  overflow: auto;
}

nav a {
  margin-left: 0.7rem;
  color: white;
  font-weight: 800;
  font-size: 20px;
}

nav a:hover {
  color: #ff581a;
}

.nav-line {
  border-width: 0;
  background-color: white;
  width: 98%;
  height: 6px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 10px;
}
.nav-logo {
  height: 35px;
  margin-right: auto;
}

.title {
  color: white;
  font-size: 3rem;
  margin-left: 1rem;
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.secondnav {
  justify-content: flex-start;
  padding: 0;
  margin-left: 0.4rem;
  margin-bottom: 0.5rem;
}

.index-container {
  background-color: #f5d75f;
}

/* .studio-container {
  background-color: #ff581a;
}

.gear-container {
  background-color: #f5d75f;
} */

.listen-container {
  background-color: #01c2cb;
}

.book-container {
  background-color: #ff581a;
}
.content {
  background-color: transparent;
}

/* About Page */

.aboutnavcontainer {
  position: fixed;
  background-color: #f5d75f;
  z-index: 5;
  width: 100%;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Bio Section */

.bio-container {
  height: 100vh;
}

.tom-img {
  height: auto;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.text-container {
  width: 40%;

  background-color: #01c2cb;
  padding: 1rem;
  margin-top: 25vh;
  z-index: 3;
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
}

/* History Section */

.history-container {
  margin-top: 120px;
  height: 100vh;
  z-index: 3;
}

.history-img {
  height: auto;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.history-text-container {
  background-color: #01c2cb;
  padding: 1rem;
  height: auto;
  width: 50%;
  max-height: 100%;
  z-index: 3;
  position: absolute;
  top: 160%;
  left: 74%;
  transform: translate(-50%, -50%);
}

/* Services Section */

.services-container {
  margin-top: 100px;
  height: 100vh;
}

.services-img {
  height: auto;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.services-text-container {
  background-color: #01c2cb;
  padding: 1rem;
  height: auto;
  width: 50%;
  max-height: 100%;
  z-index: 3;
  position: absolute;
  top: 275%;
  left: 30%;
  transform: translate(-50%, -50%);
}

/* STUDIO PAGE */

.redsecondnav {
  justify-content: flex-start;
}

.studio-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.studionavcontainer {
  position: fixed;
  background-color: #01c2cb;
  z-index: 10;
  width: 100%;
}

/* Studio Landing Page */

.studio-landing-container {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}

.studio-landing-img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 3;
}
.studio-landing-text-container {
  background-color: #ff581a;
  padding: 1rem;
  z-index: 6;
  width: 20%;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}

/* Control Room */

.control-container {
  height: 100vh;
}

.control-img {
  margin-top: 30vh;
  height: auto;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.control-text-container {
  background-color: #ff581a;
  padding: 1rem;
  z-index: 3;
  width: 25%;
  position: absolute;
  top: 170%;
  left: 75%;
  transform: translate(-50%, -50%);
}

/* LIVE ROOM */

.live-img {
  height: auto;
  width: 100%;
  position: absolute;
  z-index: 1;
  margin-top: 60vh;
}

.live-text-container {
  background-color: #ff581a;
  padding: 1rem;
  margin-top: 1rem;
  z-index: 3;
  position: absolute;
  top: 285%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 20%;
}

.live-text-container p {
  color: white;
}

/* Gear Page */

.gear-container {
  display: flex;
  flex-direction: column;
}

.gearnavcontainer {
  position: fixed;
  background-color: #f5d75f;
  z-index: 10;
  width: 100%;
}

/* gear landing */

.gear-landing-container {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}

.gear-landing-img {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 3;
}

.gear-landing-text-container {
  background-color: #ff581a;
  padding: 1rem;
  z-index: 6;
  width: 20%;
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
}

/* Ouboard Section */

.outboard-container {
  background-color: #ff581a;
  display: flex;
  flex-direction: row-reverse;
}

.outboard-img {
  height: auto;
  width: 100%;
  max-height: 100%;
  margin-top: 32vh;
}

.outboard-text-container {
  background-color: #ff581a;
  padding: 1rem;
  z-index: 3;
  width: 25%;
  position: absolute;
  top: 195%;
  left: 15%;
  transform: translate(-50%, -50%);
}

/* Mics section */

.microphones-container {
  background-color: #f5d75f;
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}

.microphones-img {
  height: auto;
  width: 100%;
  max-height: 100%;
}

.microphones-text-container {
  background-color: #ff581a;
  padding: 1rem;
  z-index: 3;
  width: 17%;
  position: absolute;
  right: 2%;
  top: 250%;
}

/* effects section */

.fx-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #f5d75f;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fx-img {
  height: auto;
  width: 100%;
  max-height: 100%;
}

.guitars-text-container {
  background-color: #ff581a;
  padding: 1rem;
  z-index: 3;
  position: absolute;
  font-size: small;
}

.amps-text-container {
  background-color: #ff581a;
  padding: 0.2rem;
  z-index: 3;
  position: absolute;
  font-size: small;
  margin-top: 1rem;
}

.pedals-text-container {
  background-color: #ff581a;
  padding: 1rem;
  z-index: 3;
  position: absolute;
  left: 0%;
  top: 410%;
  font-size: small;
}

.drums-text-container {
  background-color: #ff581a;
  padding: 1rem;
  z-index: 3;
  position: absolute;
  font-size: small;
  right: 0%;
}

.cymbals-text-container {
  background-color: #ff581a;
  padding: 1rem;
  z-index: 3;
  position: absolute;
  font-size: small;
  right: 0%;
  top: 385%;
}

.other-text-container {
  background-color: #ff581a;
  padding: 1rem;
  z-index: 3;
  position: absolute;
  font-size: small;
  right: 0%;
  top: 420%;
}

/* Listen page */

.listen-container {
  height: 100vh;
}

.list-container {
  background-color: #ff581a;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 300px;
  height: auto;
}

.list-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 3;
  position: absolute;
  margin-top: 20vh;
}

.listen-img {
  height: auto;
  width: 100%;
  max-height: 100%;
}

.samples-container {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}

h3 {
  color: white;
  text-align: center;
}

.work {
  text-transform: uppercase;
}

.discog-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.discog-img {
  height: auto;
  width: 100vw;
  max-height: 100%;
  position: absolute;
}

.gallery-container {
  width: 50vw;
  z-index: 3;
  position: relative;
  margin-top: 20vh;
  /* background-color: #ff581a; */
  padding: 0.1rem;
}

.playlist {
  z-index: 3;
  margin-top: 20vh;
}

/* book page */

.booknavcontainer {
  position: fixed;
  background-color: #f5d75f;
  z-index: 5;
  width: 100%;
}

/* contact section */

.contact-container {
  background-color: #01c2cb;
  display: flex;
  flex-direction: row;
  position: relative;
}

.contact-img {
  height: auto;
  width: 100vw;
  margin-top: 8%;
  max-height: 100%;
  position: absolute;
}

.contact-text-container {
  background-color: #01c2cb;
  margin-top: 25vh;
  padding: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  left: 10%;
  position: relative;
  width: 40vw;
  z-index: 3;
  background-color: #01c2cb;
  padding: 1rem;
}

/* Faq section */

.faq-container {
  background-color: #01c2cb;
  display: flex;
  flex-direction: row;
}

.faq-img {
  height: auto;
  width: 100vw;
  max-height: 100%;
  position: absolute;
}

.faq-text-container {
  background-color: #01c2cb;
  margin-top: 20vh;
  padding: 1rem;
  z-index: 3;
  position: relative;
  width: 50%;
}

.yellowseperator {
  height: 100vh;
  width: 100vw;
  background-color: #f5d75f;
}
.redseperator {
  height: 100vh;
  width: 100vw;
  background-color: #ff581a;
}
.blueseperator {
  height: 100vh;
  width: 100vw;
  background-color: #01c2cb;
}

/* contact form */

input {
  border: none;
  margin: 0.5rem;
  color: black;
  font-family: raleway;
  padding: 0.5rem;
  outline: none;
  border-radius: 5px;
}

input:focus {
  border: 2px solid #ff581a;
}

textarea {
  border: none;
  margin: 0.5rem;
  color: black;
  font-family: raleway;
  resize: none;
  padding: 0.5rem;
  outline: none;
  border-radius: 5px;
}

textarea:focus {
  border: 2px solid #ff581a;
}

#submit-button {
  /* width: 25%; */
  align-self: center;
  background-color: #f5d75f;
  border: none;
  font-family: raleway;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  padding: 1rem 2rem;
  color: white;
  margin-top: 1rem;
  border-radius: 5%;
}

#submit-button:hover {
  background-color: #ff581a;
  cursor: pointer;
}

::placeholder {
  color: black;
}

.album-link {
  text-decoration: underline;
  font-size: x-large;
}
