.landingimage {
  min-height: 100%;
  min-width: 1024px;
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .landingimage {
    left: 50%;
    margin-left: -512px;
  }
}

.logo {
  position: absolute;
  top: 25vh;
  left: 25vw;
  z-index: 2;
  height: 50vh;
}

.content {
  background-color: tomato;
}

.button {
  position: absolute;
  z-index: 3;
  background-color: #01c2cb;
  bottom: 10vh;
  left: 50vw;
  padding: 1rem 2rem;
  font-family: raleway;
  font-weight: 800;
  font-size: 30px;
  color: white;
  border-radius: 10px;
  border: none;
}
